<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.5259B829-2E29-49D8-A244-1C4FA41E4EE3</string>
	<key>lightthemeuid</key>
	<string>theme.custom.5259B829-2E29-49D8-A244-1C4FA41E4EE3</string>
</dict>
</plist>
