<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>17CC3C48-B5DC-4DC3-94C9-24AE4A123219</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wb</string>
			<key>text</key>
			<string>Search Weibo for shit like {query}</string>
			<key>url</key>
			<string>https://s.weibo.com/weibo/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>19C70EE5-6EC1-4E82-A069-D835D66249FE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search MDN for sad petty knowledge like {query}</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>32BE5EC7-EC85-47C3-86C2-B19007A51FDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fr</string>
			<key>text</key>
			<string>Search in French for {query}</string>
			<key>url</key>
			<string>https://www.frdic.com/dicts/fr/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>514888B6-B973-45A7-9C44-5F38C5E1425B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search Github for wheels named {query}</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;type=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5ACBD143-ADB7-4BF9-B3D6-99675905B79B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bgm</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search in Bangumi for Anime named {query}</string>
			<key>url</key>
			<string>https://bgm.tv/subject_search/{query}?cat=all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>667B8073-5B83-4841-BC5F-C2D9618D25E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eu</string>
			<key>text</key>
			<string>Search {query} in Eudic</string>
			<key>url</key>
			<string>eudic://dict//{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>685D2F15-1B92-457F-9B48-784EF3171225</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>app</string>
			<key>text</key>
			<string>Search Mac App Store for '{query}'</string>
			<key>url</key>
			<string>macappstore://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6E09AD79-A9AC-4713-BC70-7942815EEF8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zl</string>
			<key>text</key>
			<string>Search Z-lib for books named {query}</string>
			<key>url</key>
			<string>https://b-ok.global/s/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6E5D006E-60ED-4F35-A783-3AD1719AD252</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>text</key>
			<string>Search Douban for shit like {query}</string>
			<key>url</key>
			<string>https://www.douban.com/search?source=suggest&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>957ABAF3-1BEC-4CF7-8387-199458766F0D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>de</string>
			<key>text</key>
			<string>Search 德语助手 for '{query}'</string>
			<key>url</key>
			<string>https://www.godic.net/dicts/de/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>962668BD-BF02-4F68-9E27-FDC44E35947F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pw</string>
			<key>text</key>
			<string>Open Pawoo</string>
			<key>url</key>
			<string>https://pawoo.net</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A0AC6088-05D9-499A-9CC5-98C543A2F650</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhihu</string>
			<key>text</key>
			<string>Search Zhihu for some SHIT</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A88AB8BA-B4A4-4B21-9BC5-146980F0284C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>moji</string>
			<key>text</key>
			<string>Search Moji Jisho</string>
			<key>url</key>
			<string>https://www.mojidict.com/zh-hant/search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C97991E7-326A-4315-BCBF-6178F05B4453</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bl</string>
			<key>text</key>
			<string>Search bilibili for shit like {query}</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D5C7F53E-BC7B-46C4-8438-FB0C505119E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>Search JD to buy {query}</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA4D9450-C03C-4E02-B741-2FE5E1B16F55</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>Search Taobao to buy {query}</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FCE664FD-1F39-405B-9501-C9F46356F5C7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gr</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Goodreads for books named {query}</string>
			<key>url</key>
			<string>https://www.goodreads.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
